<h1>–°–û–î–ï–†–ñ–ê–ù–ò–ï<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#1.-–ó–∞–≥—Ä—É–∑–∫–∞-–∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö-–±–∏–±–ª–∏–æ—Ç–µ–∫" data-toc-modified-id="1.-–ó–∞–≥—Ä—É–∑–∫–∞-–∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö-–±–∏–±–ª–∏–æ—Ç–µ–∫-1">1. –ó–∞–≥—Ä—É–∑–∫–∞ –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫</a></span></li><li><span><a href="#2.-–§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ-–∏-–Ω–∞–ø–æ–ª–Ω–µ–Ω–∏–µ-–±–∞–∑—ã-–¥–∞–Ω–Ω—ã—Ö" data-toc-modified-id="2.-–§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ-–∏-–Ω–∞–ø–æ–ª–Ω–µ–Ω–∏–µ-–±–∞–∑—ã-–¥–∞–Ω–Ω—ã—Ö-2">2. –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –∏ –Ω–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö</a></span></li><li><span><a href="#3.-–§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ-—Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤-–∑–∞–ø—Ä–æ—Å–æ–≤" data-toc-modified-id="3.-–§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ-—Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤-–∑–∞–ø—Ä–æ—Å–æ–≤-3">3. –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–æ–≤</a></span><ul class="toc-item"><li><span><a href="#3.1.-–í—ã–±–æ—Ä–∫–∞-–∑–Ω–∞—á–µ–Ω–∏–π-–∏–∑-–±–∞–∑—ã-–¥–∞–Ω–Ω—ã—Ö-(–∑–∞–¥–∞–Ω–∏–µ-1)" data-toc-modified-id="3.1.-–í—ã–±–æ—Ä–∫–∞-–∑–Ω–∞—á–µ–Ω–∏–π-–∏–∑-–±–∞–∑—ã-–¥–∞–Ω–Ω—ã—Ö-(–∑–∞–¥–∞–Ω–∏–µ-1)-3.1">3.1. –í—ã–±–æ—Ä–∫–∞ –∑–Ω–∞—á–µ–Ω–∏–π –∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö (–∑–∞–¥–∞–Ω–∏–µ 1)</a></span></li><li><span><a href="#3.2.-–ü–æ–∏—Å–∫-–¥—É–±–ª–∏–∫–∞—Ç–æ–≤-–≤-–∑–∞–≥—Ä—è–∑–Ω—ë–Ω–Ω–æ–º-–¥–∞—Ç–∞—Å–µ—Ç–µ-(–∑–∞–¥–∞–Ω–∏–µ-2-–∏-3)" data-toc-modified-id="3.2.-–ü–æ–∏—Å–∫-–¥—É–±–ª–∏–∫–∞—Ç–æ–≤-–≤-–∑–∞–≥—Ä—è–∑–Ω—ë–Ω–Ω–æ–º-–¥–∞—Ç–∞—Å–µ—Ç–µ-(–∑–∞–¥–∞–Ω–∏–µ-2-–∏-3)-3.2">3.2. –ü–æ–∏—Å–∫ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ –∑–∞–≥—Ä—è–∑–Ω—ë–Ω–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ (–∑–∞–¥–∞–Ω–∏–µ 2 –∏ 3)</a></span></li><li><span><a href="#3.3.-–û–±–Ω–æ–≤–ª–µ–Ω–∏–µ-–Ω–∞–∑–≤–∞–Ω–∏—è-–∫–æ–ª–æ–Ω–∫–∏-–≤-—Ç–∞–±–ª–∏—Ü–µ-Printer-—Å-color-–Ω–∞-color_type-–∏-–∏–∑–º–µ–Ω–µ–Ω–∏–µ-—Ç–∏–ø–∞-–ø–æ–ª—è." data-toc-modified-id="3.3.-–û–±–Ω–æ–≤–ª–µ–Ω–∏–µ-–Ω–∞–∑–≤–∞–Ω–∏—è-–∫–æ–ª–æ–Ω–∫–∏-–≤-—Ç–∞–±–ª–∏—Ü–µ-Printer-—Å-color-–Ω–∞-color_type-–∏-–∏–∑–º–µ–Ω–µ–Ω–∏–µ-—Ç–∏–ø–∞-–ø–æ–ª—è.-3.3">3.3. –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ Printer —Å color –Ω–∞ color_type –∏ –∏–∑–º–µ–Ω–µ–Ω–∏–µ —Ç–∏–ø–∞ –ø–æ–ª—è.</a></span></li><li><span><a href="#3.4.-–°–ª–∏—è–Ω–∏–µ-–¥–≤—É—Ö-–∑–∞–ø—Ä–æ—Å–æ–≤-–∏–∑-—Ç–∞–±–ª–∏—Ü-PC-–∏-Laptop,-–≤—ã–±—Ä–∞–≤-—Ç–æ–ª—å–∫–æ-—Ç–µ-–∑–Ω–∞—á–µ–Ω–∏—è,-—É-–∫–æ—Ç–æ—Ä—ã—Ö-—Ü–µ–Ω–∞-–±–æ–ª—å—à–µ-500,-–∞-ram-=-64." data-toc-modified-id="3.4.-–°–ª–∏—è–Ω–∏–µ-–¥–≤—É—Ö-–∑–∞–ø—Ä–æ—Å–æ–≤-–∏–∑-—Ç–∞–±–ª–∏—Ü-PC-–∏-Laptop,-–≤—ã–±—Ä–∞–≤-—Ç–æ–ª—å–∫–æ-—Ç–µ-–∑–Ω–∞—á–µ–Ω–∏—è,-—É-–∫–æ—Ç–æ—Ä—ã—Ö-—Ü–µ–Ω–∞-–±–æ–ª—å—à–µ-500,-–∞-ram-=-64.-3.4">3.4. –°–ª–∏—è–Ω–∏–µ –¥–≤—É—Ö –∑–∞–ø—Ä–æ—Å–æ–≤ –∏–∑ —Ç–∞–±–ª–∏—Ü PC –∏ Laptop, –≤—ã–±—Ä–∞–≤ —Ç–æ–ª—å–∫–æ —Ç–µ –∑–Ω–∞—á–µ–Ω–∏—è, —É –∫–æ—Ç–æ—Ä—ã—Ö —Ü–µ–Ω–∞ –±–æ–ª—å—à–µ 500, –∞ ram = 64.</a></span></li></ul></li></ul></div>

# 1. –ó–∞–≥—Ä—É–∑–∫–∞ –∏—Å–ø–æ–ª—å–∑—É–µ–º—ã—Ö –±–∏–±–ª–∏–æ—Ç–µ–∫

In [1]:
#¬†–ó–∞–≥—Ä—É–∑–∏–º –±–∏–±–ª–∏–æ—Ç–µ–∫–∏ –Ω–µ–æ–±—Ö–æ–¥–º—ã–µ –¥–ª—è —Å–æ–∑–¥–∞–Ω–∏—è –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö sqlite
import sqlite3 as db
import pandas as pd
import random
import shutil # –±–∏–±–ª–∏–æ—Ç–µ–∫–∞ –¥–ª—è –∫–æ–ø–∏—Ä–æ–≤–∞–Ω–∏—è —Ñ–∞–π–ª–æ–≤

# 2. –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ –∏ –Ω–∞–ø–æ–ª–Ω–µ–Ω–∏–µ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

In [2]:
# –°–æ–∑–¥–∞–¥–∏–º –±–∞–∑—É –¥–∞–Ω–Ω—ã—Ö, –ø–æ–¥–∫–ª—é—á–µ–Ω–∏–µ –∫ –Ω–µ–π –∏ —Å–æ–æ—Ç–≤–µ—Ç—Å—Ç–≤—É—é—â–∏–µ —Ç–∞–±–ª–∏—Ü—ã
with db.connect('computer_company.db') as con:
    print("–ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ–¥–∫–ª—é—á–µ–Ω–∞")
    name_table = ['product', 'pc', 'laptop', 'printer']
    
    table_1 = """CREATE TABLE IF NOT EXISTS product (id_maker_model INTEGER PRIMARY KEY AUTOINCREMENT,
                                                     maker TEXT NOT NULL,
                                                     model INTEGER NOT NULL,
                                                     types TEXT NOT NULL,
                                                     CONSTRAINT constraint_name UNIQUE (model))"""
    table_2 = """CREATE TABLE IF NOT EXISTS pc (code INTEGER PRIMARY KEY AUTOINCREMENT,
                                                model INTEGER NOT NULL,
                                                speed INTEGER NOT NULL,
                                                ram INTEGER NOT NULL,
                                                hd FLOAT NOT NULL,
                                                cd TEXT NOT NULL,
                                                price FLOAT NOT NULL)"""
    table_3 = """CREATE TABLE IF NOT EXISTS laptop (code INTEGER PRIMARY KEY AUTOINCREMENT,
                                                    model INTEGER NOT NULL,
                                                    speed INTEGER NOT NULL,
                                                    ram INTEGER NOT NULL,
                                                    hd FLOAT NOT NULL,
                                                    screen INTEGER NOT NULL,
                                                    price FLOAT NOT NULL)"""
    table_4 = """CREATE TABLE IF NOT EXISTS printer (code INTEGER PRIMARY KEY AUTOINCREMENT,
                                                     model INTEGER NOT NULL,
                                                     color TEXT NOT NULL,
                                                     type TEXT NOT NULL,
                                                     price FLOAT NOT NULL)"""
    
    name_sql = [table_1, table_2, table_3, table_4]
    
    for name, sql in zip(name_table, name_sql):
        con.cursor().execute(f"""DROP TABLE IF EXISTS {name}""")
        con.cursor().execute(sql)
        print(f"   üîπ—Ç–∞–±–ª–∏—Ü–∞ {name} —Å–æ–∑–¥–∞–Ω–∞")

print("–°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö –∑–∞–∫—Ä—ã—Ç–æ")

–ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ–¥–∫–ª—é—á–µ–Ω–∞
   üîπ—Ç–∞–±–ª–∏—Ü–∞ product —Å–æ–∑–¥–∞–Ω–∞
   üîπ—Ç–∞–±–ª–∏—Ü–∞ pc —Å–æ–∑–¥–∞–Ω–∞
   üîπ—Ç–∞–±–ª–∏—Ü–∞ laptop —Å–æ–∑–¥–∞–Ω–∞
   üîπ—Ç–∞–±–ª–∏—Ü–∞ printer —Å–æ–∑–¥–∞–Ω–∞
–°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö –∑–∞–∫—Ä—ã—Ç–æ

In [3]:
# –û–ø—Ä–µ–¥–µ–ª–µ–∏–º —É–Ω–∏–∫–∞–ª—å–Ω—ã–µ –Ω–æ–º–µ—Ä–∞ –º–æ–¥–µ–ª–µ–π, –∑–∞–ø–∏—Å—è–º–∏ –æ –∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—ã –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö

# –û–ø—Ä–µ–¥–µ–ª–∏–º —Å–ø–∏—Å–æ–∫ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –Ω–æ–º–µ—Ä–æ–≤ –º–æ–¥–µ–ª–µ–π –¥–ª—è —Ç–∞–±–ª–∏—Ü—ã Product
numbers_model_product = []
for elem in range(360):
    number = random.randrange(1000, 9999)
    if number not in numbers_model_product:
        numbers_model_product.append(number)
print(f'–ö–æ–ª–∏—á–µ—Å–≤—Ç–æ –º–æ–¥–µ–ª–µ–π, –∑–∞–ø–∏—Å—è–º–∏ –æ –∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É Product: {len(numbers_model_product)}')

# –û–ø—Ä–µ–¥–µ–ª–∏–º —Å–ø–∏—Å–∫–∏ —É–Ω–∏–∫–∞–ª—å–Ω—ã—Ö –Ω–æ–º–µ—Ä–æ–≤ –º–æ–¥–µ–ª–µ–π –¥–ª—è —Ç–∞–±–ª–∏—Ü: PC, Laptop, Printer
numbers_model_pc = numbers_model_product[:len(numbers_model_product)//3]
print(f'–ö–æ–ª–∏—á–µ—Å–≤—Ç–æ –º–æ–¥–µ–ª–µ–π, –∑–∞–ø–∏—Å—è–º–∏ –æ –∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É PC: {len(numbers_model_pc)}')
numbers_model_laptop = numbers_model_product[len(numbers_model_product)//3:(len(numbers_model_product)//3)*2]
print(f'–ö–æ–ª–∏—á–µ—Å–≤—Ç–æ –º–æ–¥–µ–ª–µ–π, –∑–∞–ø–∏—Å—è–º–∏ –æ –∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É Laptop: {len(numbers_model_laptop)}')
numbers_model_printer = numbers_model_product[(len(numbers_model_product)//3)*2:]
print(f'–ö–æ–ª–∏—á–µ—Å–≤—Ç–æ –º–æ–¥–µ–ª–µ–π, –∑–∞–ø–∏—Å—è–º–∏ –æ –∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É Printer: {len(numbers_model_printer)}')

–ö–æ–ª–∏—á–µ—Å–≤—Ç–æ –º–æ–¥–µ–ª–µ–π, –∑–∞–ø–∏—Å—è–º–∏ –æ –∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É Product: 355
–ö–æ–ª–∏—á–µ—Å–≤—Ç–æ –º–æ–¥–µ–ª–µ–π, –∑–∞–ø–∏—Å—è–º–∏ –æ –∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É PC: 118
–ö–æ–ª–∏—á–µ—Å–≤—Ç–æ –º–æ–¥–µ–ª–µ–π, –∑–∞–ø–∏—Å—è–º–∏ –æ –∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É Laptop: 118
–ö–æ–ª–∏—á–µ—Å–≤—Ç–æ –º–æ–¥–µ–ª–µ–π, –∑–∞–ø–∏—Å—è–º–∏ –æ –∫–æ—Ç–æ—Ä—ã—Ö –∑–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É Printer: 119

In [4]:
# –ó–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—ã –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
with db.connect('computer_company.db') as con:
    print("–ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ–¥–∫–ª—é—á–µ–Ω–∞")
    
    # –ó–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É Product
    letter_maker = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ'
    for model in list(set(numbers_model_product)): # list(set()) –¥–ª—è –∏–º–º–µ—Ç–∞—Ü–∏–∏ —Å–ª—É—á–∞–π–Ω–æ–π –ø–æ—Å–ª–µ–¥–æ–≤–∞—Ç–µ–ª—å–Ω–æ—Å—Ç–∏ –∑–∞–ø–∏—Å–µ–π –≤ —Ç–∞–±–ª–∏—Ü—É Product
        if model in numbers_model_pc: types = 'PC'
        elif model in numbers_model_laptop: types = 'Laptop'
        else: types = 'Printer'
        con.cursor().execute("INSERT INTO product (maker, model, types) VALUES (?, ?, ?)",
                           [random.choice(letter_maker), model, types])
    print(f"   üü©—Ç–∞–±–ª–∏—Ü–∞ Product –∑–∞–ø–æ–ª–Ω–µ–Ω–∞")
    
    # –ó–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É PC
    speeds = [500, 1000, 1500, 2000, 2500, 3000, 3500, 4000, 4500]
    rams = [16, 32, 64, 128, 256]
    hdds = [size for size in range(5, 500, 10)]
    cds = ['2x', '4x', '8x', '10x', '12x', '14x', '16x', '18x', '20x']
    for model in numbers_model_pc:
        con.cursor().execute("INSERT INTO pc (model, speed, ram, hd, cd, price) VALUES (?, ?, ?, ?, ?, ?)",
                           [model, random.choice(speeds), random.choice(rams), random.choice(hdds),
                           random.choice(cds), round(random.triangular(400.00, 1500.00), 2)])   
    print(f"   üü©—Ç–∞–±–ª–∏—Ü–∞ PC –∑–∞–ø–æ–ª–Ω–µ–Ω–∞")
    
    # –ó–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É Laptop
    speeds = [200, 300, 400, 500, 600, 700, 800, 900, 1000]
    rams = [16, 32, 64]
    hdds = [size for size in range(5, 250, 10)]
    screens = [5, 7, 9, 12, 15, 17]
    for model in numbers_model_laptop:
        con.cursor().execute("INSERT INTO laptop (model, speed, ram, hd, screen, price) VALUES (?, ?, ?, ?, ?, ?)",
                           [model, random.choice(speeds), random.choice(rams), random.choice(hdds),
                           random.choice(screens), round(random.triangular(300.00, 1200.00), 2)])   
    print(f"   üü©—Ç–∞–±–ª–∏—Ü–∞ Laptop –∑–∞–ø–æ–ª–Ω–µ–Ω–∞")
    
    # –ó–∞–ø–æ–ª–Ω–∏–º —Ç–∞–±–ª–∏—Ü—É Printer
    colors = ['y', 'n']
    types = ['Laser', 'Jet', 'Matrix']
    for model in numbers_model_printer:
        con.cursor().execute("INSERT INTO printer (model, color, type, price) VALUES (?, ?, ?, ?)",
                           [model, random.choice(colors), random.choice(types),
                            round(random.triangular(150.00, 600.00), 2)])   
    print(f"   üü©—Ç–∞–±–ª–∏—Ü–∞ Printer –∑–∞–ø–æ–ª–Ω–µ–Ω–∞")

    
print("–°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö –∑–∞–∫—Ä—ã—Ç–æ")

–ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ–¥–∫–ª—é—á–µ–Ω–∞
   üü©—Ç–∞–±–ª–∏—Ü–∞ Product –∑–∞–ø–æ–ª–Ω–µ–Ω–∞
   üü©—Ç–∞–±–ª–∏—Ü–∞ PC –∑–∞–ø–æ–ª–Ω–µ–Ω–∞
   üü©—Ç–∞–±–ª–∏—Ü–∞ Laptop –∑–∞–ø–æ–ª–Ω–µ–Ω–∞
   üü©—Ç–∞–±–ª–∏—Ü–∞ Printer –∑–∞–ø–æ–ª–Ω–µ–Ω–∞
–°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö –∑–∞–∫—Ä—ã—Ç–æ

In [5]:
# –í—ã–≤–µ–¥–µ–º –ø–æ–ª—É—á–µ–Ω–Ω—ã–µ —Ç–∞–±–ª–∏—Ü—ã –≤ –±–∞–∑–µ –¥–∞–Ω–Ω—ã—Ö
with db.connect('computer_company.db') as con:
    print("–ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ–¥–∫–ª—é—á–µ–Ω–∞")
    df_product = pd.read_sql_query('SELECT * FROM product', con)
    df_pc = pd.read_sql_query('SELECT * FROM pc', con)
    df_laptop = pd.read_sql_query('SELECT * FROM laptop', con)
    df_printer = pd.read_sql_query('SELECT * FROM printer', con)
    print('–¢–∞–±–ª–∏—Ü—ã –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö:')
    print(f' Product: {df_product.shape}')
    print(f' PC:      {df_pc.shape}')
    print(f' Laptop:  {df_laptop.shape}')
    print(f' Printer: {df_printer.shape}')
print("–°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö –∑–∞–∫—Ä—ã—Ç–æ")

–ë–∞–∑–∞ –¥–∞–Ω–Ω—ã—Ö –ø–æ–¥–∫–ª—é—á–µ–Ω–∞
–¢–∞–±–ª–∏—Ü—ã –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö:
 Product: (355, 4)
 PC:      (118, 7)
 Laptop:  (118, 7)
 Printer: (119, 5)
–°–æ–µ–¥–∏–Ω–µ–Ω–∏–µ —Å –±–∞–∑–æ–π –¥–∞–Ω–Ω—ã—Ö –∑–∞–∫—Ä—ã—Ç–æ

In [6]:
df_product.head(3)

   id_maker_model maker  model    types
0               1     S   2053  Printer
1               2     I   6177       PC
2               3     Q   6183   Laptop

In [7]:
df_pc.head(3)

   code  model  speed  ram     hd   cd    price
0     1   8423   3500   16  105.0  12x  1192.59
1     2   6757   2000   64  405.0  18x   820.26
2     3   2014   3500   16  115.0  12x   761.33

In [8]:
df_laptop.head(3)

   code  model  speed  ram     hd  screen   price
0     1   5748    200   32  185.0       5  755.23
1     2   3920    200   64    5.0       9  818.00
2     3   2435    200   64   95.0       7  704.31

In [9]:
df_printer.head(3)

   code  model color   type   price
0     1   2385     y  Laser  452.31
1     2   9152     n  Laser  431.19
2     3   3655     n  Laser  369.76

# 3. –§–æ—Ä–º–∏—Ä–æ–≤–∞–Ω–∏–µ —Ä–µ–∑—É–ª—å—Ç–∞—Ç–æ–≤ –∑–∞–ø—Ä–æ—Å–æ–≤

## 3.1. –í—ã–±–æ—Ä–∫–∞ –∑–Ω–∞—á–µ–Ω–∏–π –∏–∑ –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö (–∑–∞–¥–∞–Ω–∏–µ 1)

In [10]:
# –ú–æ–¥–µ–ª—å –ø—Ä–∏–Ω—Ç–µ—Ä–∞, –∏–º–µ—é—â–∞—è —Å–∞–º—É—é –≤—ã—Å–æ–∫—É—é —Ü–µ–Ω—É. –í—ã–≤–µ—Å—Ç–∏: model, price.
with db.connect('computer_company.db') as con:
    df = pd.read_sql_query("""SELECT model AS –ú–û–î–ï–õ–¨, MAX(price) AS –¶–ï–ù–ê
                              FROM printer""", con)
df

   –ú–û–î–ï–õ–¨    –¶–ï–ù–ê
0    7596  592.23

In [11]:
# –°—Ä–µ–¥–Ω—è—è —Å–∫–æ—Ä–æ—Å—Ç—å –ü–ö
with db.connect('computer_company.db') as con:
    df = pd.read_sql_query("""SELECT ROUND(AVG(speed)) AS '–°–†–ï–î–ù–Ø–Ø –°–ö–û–†–û–°–¢–¨ –ü–ö'
                              FROM pc""", con)
df

   –°–†–ï–î–ù–Ø–Ø –°–ö–û–†–û–°–¢–¨ –ü–ö
0               2682.0

In [12]:
# –ü—Ä–æ–∏–∑–≤–æ–¥–∏—Ç–µ–ª–∏, –ø—Ä–æ–¥–∞—é—â–∏–µ –ü–ö, –Ω–æ –Ω–µ –Ω–æ—É—Ç–±—É–∫–∏.
with db.connect('computer_company.db') as con:
    df = pd.read_sql_query("""SELECT DISTINCT(maker) AS '–ü–†–û–ò–ó–í–û–î–ò–¢–ï–õ–¨'
                              FROM product
                              WHERE types = 'Printer' AND
                              maker NOT IN (SELECT DISTINCT(maker) AS '–ú–û–î–ï–õ–¨'
                              FROM product
                              WHERE types = 'Laptop')""", con)
df

Empty DataFrame
Columns: [–ü–†–û–ò–ó–í–û–î–ò–¢–ï–õ–¨]
Index: []

## 3.2. –ü–æ–∏—Å–∫ –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ –∑–∞–≥—Ä—è–∑–Ω—ë–Ω–Ω–æ–º –¥–∞—Ç–∞—Å–µ—Ç–µ (–∑–∞–¥–∞–Ω–∏–µ 2 –∏ 3)

In [14]:
# –ó–∞–≥—Ä—è–∑–Ω–∏–º –¥–∞—Ç–∞—Å–µ—Ç (–≤—Å—Ç–∞–≤–∏–º –Ω–æ–≤—ã–µ –∑–Ω–∞—á–µ–Ω–∏—è —Å —É–Ω–∏–∫–∞–ª—å–Ω—ã–º –∫–æ–¥–æ–º,
# –Ω–æ –≤—Å–µ–º–∏ –æ—Å—Ç–∞–ª—å–Ω—ã–º–∏ –¥—É–±–ª–∏—Ä—É—é—â–∏–º–∏ –ø–æ–ª—è–º–∏).

# –°–¥–µ–ª–∞–µ–º –∫–æ–ø–∏—é —á–∏—Å—Ç–æ–π –±–∞–∑—ã –¥–∞–Ω–Ω—ã—Ö
shutil.copyfile("computer_company.db", "copy.db");

In [15]:
# –í—Å—Ç–∞–≤–∏–º –¥—É–±–ª–∏–∫–∞—Ç—ã —Å—Ç—Ä–æ–∫ —Ç–∞–±–ª–∏—Ü—É Printer
with db.connect('copy.db') as con:
    rows = con.cursor().execute("""SELECT * FROM printer""").fetchall()
    print(f'–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π –≤ –∏—Å—Ö–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ Printer: {len(rows)}')
    
    for row in rows:
        for _ in range(random.randrange(1, 5)):
            con.cursor().execute("INSERT INTO printer (model, color, type, price) VALUES (?, ?, ?, ?)",
                           [row[1], row[2], row[3], row[4]]) 
    
    rows = con.cursor().execute("""SELECT * FROM printer""").fetchall()
    print(f'–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π –≤ –∑–∞–≥—Ä—è–∑–Ω—ë–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ Printer: {len(rows)}')

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π –≤ –∏—Å—Ö–æ–¥–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ Printer: 119
–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π –≤ –∑–∞–≥—Ä—è–∑–Ω—ë–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ Printer: 427

In [16]:
# –û–ø—Ä–µ–¥–µ–ª–∏–º –≤—Å–µ —Å—Ç—Ä–æ–∫–∏ —Å –¥—É–±–ª–∏—Ä—É—é—â–∏–º–∏ –∑–∞–ø–∏—Å—è–º–∏
with db.connect('copy.db') as con:
    df = pd.read_sql_query("""select *
                              from (select code AS –ö–û–î,
                                           row_number() over(partition by model,
                                                                          color,
                                                                          type,
                                                                          price                   
                                                             order by code asc) as row_nomber
                                    from printer) a
                                    where a.row_nomber > 1""", con)
    print(f'–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ Printer: {len(df)}')
df

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π –¥—É–±–ª–∏–∫–∞—Ç–æ–≤ –≤ —Ç–∞–±–ª–∏—Ü–µ Printer: 308

     –ö–û–î  row_nomber
0    173           2
1    174           3
2    175           4
3    176           5
4    152           2
..   ...         ...
303  404           2
304  405           3
305  406           4
306  245           2
307  246           3

[308 rows x 2 columns]

## 3.3. –û–±–Ω–æ–≤–ª–µ–Ω–∏–µ –Ω–∞–∑–≤–∞–Ω–∏—è –∫–æ–ª–æ–Ω–∫–∏ –≤ —Ç–∞–±–ª–∏—Ü–µ Printer —Å color –Ω–∞ color_type –∏ –∏–∑–º–µ–Ω–µ–Ω–∏–µ —Ç–∏–ø–∞ –ø–æ–ª—è.

In [17]:
# –¢–∞–∫ –≤ SQLite –æ—Ç—Å—É—Ç—Å—Ç–≤—É—é—Ç –∏–Ω—Å—Ç—Ä—É–∫—Ü–∏–∏ –¥–ª—è –∏–∑–º–µ–Ω–µ–Ω–∏—è –Ω–∞–∑–≤–∞–Ω–∏—è –∏ —Ç–∏–ø–∞ –¥–∞–Ω–Ω—ã—Ö —Å—Ç–æ–ª–±—Ü–∞
# –≤—ã–ø–æ–ª–Ω–∏–º –∏–∑–º–µ–Ω–µ–Ω–∏–µ —ç—Ç–∏—Ö –ø–∞—Ä–∞–º–µ—Ç—Ä–æ–≤ —á–µ—Ä–µ–∑ —Å–æ–∑–¥–∞–Ω–∏–µ –Ω–æ–≤–æ–π —Ç–∞–±–ª–∏—Ü—ã
with db.connect('copy.db') as con:
    # –ü–µ—Ä–µ–∏–º–µ–Ω—É–µ–º –∏—Å—Ö–æ–¥–Ω—É—é —Ç–∞–±–ª–∏—Ü—É
    con.cursor().execute("""ALTER TABLE printer RENAME TO _printer""")
    # –°–æ–∑–¥–∞–¥–∏–º –Ω–æ–≤—É—é —Ç–∞–±–ª–∏—Ü—É Printer —Å –æ–±–Ω–æ–≤–ª—ë–Ω–Ω—ã–º–∏: –Ω–∞–∑–≤–∞–Ω–∏–µ–º –ø–æ–ª—è –∏ —Ç–∏–ø–æ–º –¥–∞–Ω–Ω—ã—Ö
    con.cursor().execute("""CREATE TABLE IF NOT EXISTS printer
                                                    (code INTEGER PRIMARY KEY AUTOINCREMENT,
                                                     model INTEGER NOT NULL,
                                                     color_type CHAR(1) NOT NULL,
                                                     type TEXT NOT NULL,
                                                     price FLOAT NOT NULL)""")
    con.cursor().execute("""INSERT INTO printer (code, model, color_type, type, price)
                            SELECT code, model, color, type, price
                            FROM _printer
                            """)
    
    df = pd.read_sql_query("""SELECT * FROM printer""", con)
    print(f'–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π –≤ –æ–±–Ω–æ–≤–ª—ë–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ Printer: {len(df)}')
df.head(3)

–ö–æ–ª–∏—á–µ—Å—Ç–≤–æ –∑–∞–ø–∏—Å–µ–π –≤ –æ–±–Ω–æ–≤–ª—ë–Ω–Ω–æ–π —Ç–∞–±–ª–∏—Ü–µ Printer: 427

   code  model color_type   type   price
0     1   2385          y  Laser  452.31
1     2   9152          n  Laser  431.19
2     3   3655          n  Laser  369.76

## 3.4. –°–ª–∏—è–Ω–∏–µ –¥–≤—É—Ö –∑–∞–ø—Ä–æ—Å–æ–≤ –∏–∑ —Ç–∞–±–ª–∏—Ü PC –∏ Laptop, –≤—ã–±—Ä–∞–≤ —Ç–æ–ª—å–∫–æ —Ç–µ –∑–Ω–∞—á–µ–Ω–∏—è, —É –∫–æ—Ç–æ—Ä—ã—Ö —Ü–µ–Ω–∞ –±–æ–ª—å—à–µ 500, –∞ ram = 64.

In [19]:
with db.connect('computer_company.db') as con:
    df = pd.read_sql_query("""SELECT *
                              FROM
                              (SELECT code, model, speed, ram, hd,
                                      cd AS cd_pc, '-' AS screen_laptop,
                                      price
                               FROM pc
                               UNION
                               SELECT code, model, speed, ram, hd,
                                      '-' AS cd_pc, screen AS screen_laptop,
                                      price
                               FROM laptop)
                               WHERE price > 500 and ram = 64
                              """, con)
df.head(12)

    code  model  speed  ram     hd cd_pc screen_laptop    price
0      2   3920    200   64    5.0     -             9   818.00
1      2   6757   2000   64  405.0   18x             -   820.26
2      3   2435    200   64   95.0     -             7   704.31
3      4   9799    700   64  105.0     -             9   860.86
4      8   7512    300   64  215.0     -             7   705.72
5     11   7048   4000   64   55.0   18x             -  1098.00
6     13   9197    500   64  285.0    4x             -  1099.81
7     17   1670   1000   64  155.0     -            15   650.07
8     18   1061   1000   64   25.0     -             5  1045.39
9     19   2866   4000   64  295.0    4x             -   656.25
10    27   8519    600   64  135.0     -             5  1151.04
11    28   5510    700   64  115.0     -            15   819.82