In [32]:
import pandas as pd
df1 = pd.DataFrame({'A':[1,2,3,4,5,6], 'B':['один','ldf','eeer', 'erv', 'tyhb' ,'6_cr']})
df2 = pd.DataFrame({'A': [2, 4, 7]})

In [33]:
df1

   A     B
0  1  один
1  2   ldf
2  3  eeer
3  4   erv
4  5  tyhb
5  6  6_cr

In [34]:
df2

   A
0  2
1  4
2  7

In [35]:
df = df2.merge(df1, on='A', how='left')
df

   A    B
0  2  ldf
1  4  erv
2  7  NaN

In [4]:
df1['anomal'] = df1.apply(lambda x: 1 if x['A'] in list(df2['contuct_num']) else 0, axis=1)
df1

   A     B  anomal
0  1  один       0
1  2   ldf       1
2  3  eeer       0
3  4   erv       1
4  5  tyhb       0
5  6  6_cr       0